.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.ant-table-tbody tr {
    cursor: pointer;
}

table.special_row td {
    color: #000;
}

table.special_row td + td {
    color: #9f9f9f;
}

/*App Layout */
.user-info {
    float: right;
    color: #615f5f;
    font-size: x-large
}

.liq-logo {
    height: 150px;
    padding: 20px
}

.app-footer {
    left: 0px;
    bottom: 0px;
    position: fixed;
    width: 270px;
    padding:20px
}

.app-content {
    padding: 20px;
    height: 100vh;
    background: #FAFAFB;
    margin-left: 270px
}
